<h1>
  <%= @user.name %>
</h1>

<div>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Date joined:</b>
  <%= @user.created_at.strftime("%d %b %y") %>
</p>

<p>
  <b>Records:</b>
  <%= render 'shared/recordstats' %>
</p>

<p>
  <b>Events:</b>
  <%= render 'shared/attendingstats' %>
</p>

<p>
  <%= link_to 'Back', users_path %>
</p>
</div>



