<p>
  <% if signed_in? %>
  <%= link_to 'Create a New Record', new_record_path %>
  <% end %>
<p>
  
<h1>All Records</h1>
<div class= "search"?
<%= form_tag events_path, :method => :get do %>
  <div id = "box", class="field">
    Search records:
    <%= text_field_tag :search, params[:search] %>
  </div>
  <div id= "button", class="actions">
    <%= submit_tag "Search" %>
  </div>
</div>
<% end %>

<div class= "map">
  <%= gmaps4rails(@json) %>
</div>

</br>
<%= will_paginate %>

<ul class="records">
  <%= render @records %>
</ul>
</br>

<%= will_paginate %>