<h1>Listing events</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Location name</th>
    <th>Location description</th>
    <th>Grid ref</th>
    <th>Easting</th>
    <th>Northing</th>
    <th>Event description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.date %></td>
    <td><%= event.time %></td>
    <td><%= event.location_name %></td>
    <td><%= event.location_description %></td>
    <td><%= event.grid_ref %></td>
    <td><%= event.easting %></td>
    <td><%= event.northing %></td>
    <td><%= event.event_description %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
