<h1>
  <%= @event.location_name %>
</h1>

<div class= "map">
  <%= gmaps4rails(@json) %>
</div>

</br>

<p>
  <%= render 'attend_form' if signed_in? %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date.strftime("%d %b %y") %>
</p>

<p>
  <b>Time:</b>
  <%= @event.time.strftime("%H:%M") %>
</p>

<p>
  <b>Location Name:</b>
  <%= @event.location_name %>
</p>

<p>
  <b>Location Description:</b>
  <%= simple_format @event.location_description %>
</p>

<p>
  <b>Grid Ref:</b>
  <%= @event.grid_ref %>
</p>

<p>
  <b>Latitude:</b>
  <%= @event.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @event.longitude %>
</p>

<p>
  <b>Event Description:</b>
  <%= simple_format @event.event_description %>
</p>

<p>
  <%= render 'shared/attendeestats' %>
</p>

<p>
  
  <% if current_user.admin? %>
  <%= link_to 'edit', edit_event_path(@event) %>
  | <%= link_to "delete", @event, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{@event.location_name}"%>
  <% end %>
</p>

<p>
<%= link_to 'back', events_path %>
</p>
