<h1>
  <%= @event.location_name %>
</h1>

<p>
  <%= render 'attend_form' if signed_in? %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Time:</b>
  <%= @event.time %>
</p>

<p>
  <b>Location Name:</b>
  <%= @event.location_name %>
</p>

<p>
  <b>Location Description:</b>
  <%= simple_format @event.location_description %>
</p>

<p>
  <b>Grid Ref:</b>
  <%= @event.grid_ref %>
</p>

<p>
  <b>Event Description:</b>
  <%= simple_format @event.event_description %>
</p>

<p>
  <%= render 'shared/attendeestats' %>
</p>

<p>
<%= link_to 'Back', events_path %>
</p>
