<div class="content">
<h1><%=t ('about.h1') %></h1>
<p><%=t ('about.p1') %></p></br>
<p><%=t ('about.p2') %></p></br>
<p><%=t ('about.p3') %></p></br>
<p><%=t ('about.p4') %></p></br>
<p><%=t ('about.p5') %></p></br>
<p><%=t ('about.p6') %></p></br>
<p><%=t ('about.p7') %></p></br>
<p><%=t ('about.p8') %></p>
</div>


