<div class="content">
<h1><%=t ('contact.h1') %></h1>

<p><%=t ('contact.p1') %>:</p><br/>

<ul>
<li><%=t ('contact.p21') %> <a href=" http://srs.britishspiders.org.uk/portal.php/p/About+the+Spider+Recording+Scheme ">Spider Recording Scheme </a><%=t ('contact.p22') %><a href=" http://wiki.britishspiders.org.uk/index.php5?title=Opiliones_Recording_Scheme "> Opiliones Recording Scheme </a><%=t ('contact.p23') %><a href="http://wiki.britishspiders.org.uk/"> British Arachnological Society</a>. <%=t ('contact.p24') %> <a href="mailto:mike.davidson55@btinternet.com">mike.davidson55@btinternet.com</a>.</li><br/>
<li><%=t ('contact.p3') %> <a href="mailto:alistair.grampianspidergroup@hotmail.com">alistair.grampianspidergroup@hotmail.com</a></li><br/>
<li><%=t ('contact.p41') %>
    <font color="#4eba5b">01224 273633</font> <%=t ('contact.p42') %> <a href="mailto:bethel.smith@aberdeenshire.gov.uk">bethel.smith@aberdeenshire.gov.uk</a></li>
</ul>
</div