
<h1><%=t ('home.h1') %></h1>
<p><%=t ('home.p1') %></p>

</br>

<p><b><%=t ('home.p2') %></b></p>

</br>

<%= link_to t('home.join us'), signup_path, :class => "signup_button round" %>

</br></br>

<%= image_tag("spider.jpg", :class => "spider") %>

</br>

<p>...<%=t ('home.p3') %>!</p>

</br></br>

<p id= "BAS"><%=t ('home.p4') %> (<%=t ('home.charity no') %>)</p>



