    <div class="nav">
      <ul>
        <li><%= link_to t('navigation.About'), about_path %></li>
        <li><%= link_to t('navigation.Events'), events_path %></li>
        <li><%= link_to t('navigation.Records'), records_path %></li>
        <li><%= link_to t('navigation.Resources'), resources_path %></li>
        <li><%= link_to t('navigation.Contact'), contact_path %></li>
      </ul>
    </div>