<!DOCTYPE html>

<html>
  
  <head>
    
    <title>Grampian Spider Group | <%= @title %></title>
    <%= stylesheet_link_tag "style", :media => "all" %>
    <%= csrf_meta_tag %>
    
  </head>
  
  <body>
    
    <div class="container">
    <div class="header"></div>
    <div class="logo"><%= image_tag("logo.jpg") %></div>
    <div class="nav"></div>
    <div class="content"><%= yield %></div>
    <div class="footer"></div>
    </div>

  </body>
  
</html>